lecture2/ConsoleApp1/.vs/
lecture2/ConsoleApp1/ConsoleApp1/bin/
lecture2/ConsoleApp1/ConsoleApp1/obj/
lecture6/WebApplication1/.vs/
lecture6/WebApplication1/WebApplication2/bin/
lecture6/WebApplication1/WebApplication2/obj/
lecture6/WebApplication1/WebApplication2/App_Data/
